<!DOCTYPE html>
<html>
<head>
  <title>迷乱</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">迷 乱</a></h3>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pull-right"}) do |f| %>
        <%= f.text_field :login, :class => "input-small", :placeholder => "Login" %>
        <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>
        <button class="btn" name="commit" type="submit">Sign in</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render "/devise/registrations/new" %>
  </div>
</body>
</html>

